.loader {
    width: 90px;
    height: 90px;
    position: relative;
    background: conic-gradient(from 90deg at 50% 50%, rgba(255, 255, 255, 0) 0deg, #512DE4 360deg);
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

.loader:before {
    content: '';
    position: absolute;
    top: 4.5px;
    bottom: 4.5px;
    right: 4.5px;
    left: 4.5px;
    background-color: white;
    z-index: 2;
    border-radius: inherit;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


