.App {
    font-family: "Montserrat", sans-serif;
}

.hw {
    margin: 42px 0 264px 70px;
}

.hwTitle {
    padding:  35px 70px 10px 70px;
    margin: 0;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}